.loader {
  width: fit-content;
  font-weight: 100;
  font-size: 3rem;
  margin-bottom: 4rem;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
  text-align: center;
}
.loader:before {
  content: "Loading...";
}
@keyframes l2 {
  to {
    background-size: 100% 3px;
  }
}
