.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  font-weight: 700;

  cursor: pointer;

  transition:
    background-color 0.5s,
    color 0.5s;

  padding: 2rem 0;

  border-radius: 3px;
  border: 0.3px solid #fff;
}

.container:hover {
  background-color: #fff;
  color: #000;
}

.popUpContainer {
  position: absolute;
  top: 110%;
  color: #000;
  background-color: #fff;
  padding: 0.5rem 1rem;

  display: flex;
  gap: 1rem;
  flex-direction: column;

  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;

  max-width: 30rem;

  z-index: 100;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s;
  pointer-events: none;
}

.container:hover .popUpContainer {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.movieItem {
  padding: 4px 8px;
  border: 0.1px solid #000;
  border-radius: 1.5px;
}
