.container {
  position: fixed;
  background-color: #fff;
  color: #000;
  right: 10px;
  top: 50%;

  padding: 5rem 1rem;
  border-radius: 3px;

  display: flex;
  align-items: center;
  gap: 1rem;

  transform: translate(105%, -50%);
  transition: transform 0.3s ease;
  pointer-events: none;
}

.active {
  transform: translate(0, -50%);
  pointer-events: auto;
}

.listLabel {
  font-size: 1.5rem;
  font-weight: 200;
}

.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
