.container {
  position: fixed;
  background-color: #fff;
  color: #000;
  right: 10px;
  top: 50%;

  padding: 3rem;
  border-radius: 3px;

  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 1rem;

  transform: translate(105%, -50%);
  transition: transform 0.3s ease;
  pointer-events: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.active {
  transform: translate(0, -50%);
  pointer-events: auto;
}

.listLabel {
  font-size: 1.5rem;
  font-weight: 200;
}

.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.watchlistInput {
  padding: 5px 8px;
  border: 0.3px solid #000;
}

.submitBtn {
  padding: 5px 10px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 1px;

  transition:
    background-color 0.3s,
    color 0.3s;
}

.submitBtn:hover {
  background-color: #fff;
  color: #000;
}

.statusContainer {
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.watchlistItem {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.watchlistItem:hover {
  text-decoration: line-through;
}
