*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:visited {
    color: inherit;
  }
}

ul {
  list-style: none;
}
