.movieCard {
  /* cursor: pointer; */
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  max-width: 20rem;

  border-radius: 2px;

  transition:
    box-shadow 0.3s,
    transform 0.2s;
}

.movieCard:hover {
  transform: scale(1.005);
}

.image {
  width: 100%;
  max-width: 20rem;
  aspect-ratio: 2/1;
  /* display: block; */
  object-fit: cover;
}

.movieProperties {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}

.title {
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
}

.details {
  font-weight: 300;
  font-size: 0.7rem;
}

.placementNumber {
  font-weight: 500;
  font-size: 0.7rem;
}

.movieOptionsButton {
  cursor: pointer;
  border: 0;
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
}
