.movieCard {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-radius: 2px;

  transition:
    box-shadow 0.3s,
    transform 0.2s;
}

.movieCard:hover {
  transform: scale(1.01);
}

.image {
  width: 100%;
  aspect-ratio: 2/1;
  display: block;
  object-fit: cover;
}

.movieProperties {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}

.title {
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
}

.details {
  font-weight: 300;
  font-size: 0.7rem;
}

.placementNumber {
  font-weight: 500;
  font-size: 0.7rem;
}
