.searchContainer {
  position: relative;
}

.searchField {
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 3rem;
  outline: none;
  padding-left: 2rem;
}

.searchIcon {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);

  z-index: 2;
  transition: fill 0.3s;
}

.searchButton {
  padding: 0;
  border: 0;
  background: transparent;
}
