.container {
  margin-top: 2rem;
  padding: 1rem;
}

.numberOfMoviesParagraph {
  font-weight: 100;
  font-size: 3rem;
  margin-bottom: 4rem;
  /* text-align: center; */
}

.moviesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  gap: 2rem;
}
