.container {
  margin-top: 2rem;
  padding: 1rem;
}

.numberOfMoviesParagraph {
  font-weight: 100;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.errorText {
  color: #ff0000;
  font-weight: 100;
  font-size: 3rem;
}
